.button {
  background: $green;
  border: 1px solid $darkest-purple;
  color: $darkest-purple;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.button--link {
  background: none;
  border: none;
  color: white;
}

.button--secondary {
  background: $dark-purple;
  color: white;
}

.button--no-right-border {
  border-right: 0;
}

.button--margin-bottom {
  margin-bottom: $s-size;
}
