.header {
  background: $purple;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}

.header__content--flags {
  justify-content: center;
}

.header__content--flags img {
  padding: 0 $s-size;
}

.header__title {
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}
