.text-input {
  border: 1px solid $dark-purple;
  height: 48px;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $s-size;
  width: 100%;
}

.textarea-input {
  @extend .text-input;
  height: auto;
}

.select {
  @extend .text-input;
}
